/* Reset de estilos e configurações gerais */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Definição de cores personalizadas */
:root {
    --lightgreen: rgb(153, 210, 153);
    --white: rgb(229, 226, 226);
    --darkgreen: rgb(91, 128, 91);
    --lightgray: rgb(174, 172, 172);
    --border: rgb(211, 211, 211);
    --footer: rgba(205, 204, 204, 0.66);
    --greenacess: rgb(32, 180, 32);
}

/* Estilos para o corpo da página */
body {
    background-color: var(--lightgreen);
}

/* Estilos para o cabeçalho */
header {
    background-color: var(--white);
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.container1 {
    display:flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 1.3rem;
}

.container1 h2{
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 10%;
}
.botoes {
    display: flex;
    justify-content: center;
    border-color: var(--darkgreen);
    border-radius: 100px;
}

.buttonadd {
    background-color: var(--greenacess);
    color: white;
    margin: 10px;
}

.buttonadd:hover {
    background-color: var(--lightgreen);
    border-color: var(--greenacess);
    font-weight: 400;
}
